.bg-image{
      /* Add the blur effect */
  filter: blur(3px);
  -webkit-filter: blur(3px);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-contant{
    color: white;
    font-weight: bold;
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}